body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

.alinhamento {
    padding: 0px 50px;
}

.tema-escuro {
    color: white;
    background: black;
}

h {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.tamanho-fonte-alinhamento {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.distanciamento{
    padding: 40px;
}

.rede-social {
    font-size: 10px;
    text-align: center;
}